<div class="row mt-4">
  <main class="col-8 border">
    <section class="border">
      <form action="" method="POST">
        <div class="form-group">
          <textarea class="form-control" name="" id="" rows="4"></textarea>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Tweet</button>
        </div>
      </form>
    </section>
    <div class="border mt-3">
      <article>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4 border">
              <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  @user,
                  2019-11-29,
                  02:30
                </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                  This content is a little bit longer.</p>
                <a href="#">Reply(0)</a>
                <a href="#">Like(0)</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
  <aside class="col-4 border">
    <h3>Popular</h3>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4 border">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">@user</h5>
            <p class="card-text">This is a wider card with supporting text.</p>
            <a href="#">Reply(0)</a>
            <a href="#">Like(0)</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>